body{
  margin:0;
  height:100vh;
  display:flex;
  font-family:sans-serif;
  background:#050505;
  color:#8ffcff;
}

/******** MENU ESQUERDO ********/
#sidebar{
  width:210px;
  padding:16px;
  display:flex;
  flex-direction:column;
  gap:10px;
  border-right:2px solid rgba(0,255,255,.3);
}
.option{
  padding:10px;
  border:1px solid rgba(0,255,255,.4);
  border-radius:6px;
  cursor:pointer;
  transition:.2s;
}
.option.active{
  background:#00ffff55;
  border-color:#0ff;
  color:black;
}

/******** centro ********/
#main{
  flex:1;
  padding:18px;
  display:flex;
  flex-direction:column;
}

/*** toolbar ***/
#toolbar{
  display:flex;
  gap:10px;
  margin-bottom:10px;
  flex-wrap:wrap;
}

.btn{
  padding:6px 12px;
  cursor:pointer;
  color:#8ffcff;
  background:rgba(0,255,255,.08);
  border:1px solid rgba(0,255,255,.4);
  border-radius:8px;
}

/*** editor ***/
#editor{
  flex:1;
  padding:15px;
  border-radius:8px;
  background:white;
  font-size:18px;
  color:black;
  overflow-y:auto;
}

/*** paleta inline ***/
#paletteInline{
  display:none;
  padding:8px;
  background:rgba(0,255,255,.15);
  border-radius:6px;
  grid-template-columns:repeat(10,22px);
  gap:6px;
  margin-bottom:10px;
}
.color{
  width:22px;height:22px;
  border-radius:4px;
  cursor:pointer;
}

/*** player beat ***/
#player{
  display:flex;
  gap:10px;
  align-items:center;
  padding:8px;
  margin-top:10px;
  background:black;
  border-radius:8px;
  border:1px solid rgba(0,255,255,.3);
}

#progress{
  flex:1;
  height:6px;
  background:#222;
  border-radius:4px;
}
#bar{
  width:0%;
  height:100%;
  background:#0ff;
}

/******** painel métrica direita ********/
#rightPanel{
  width:170px;
  padding:16px;
  background:#0008;
  border-left:2px solid rgba(0,255,255,.3);
  display:flex;
  flex-direction:column;
  gap:12px;
}

#meterTitle{
  font-weight:bold;
  color:#0ff;
}
#meterPanel{
  white-space:pre;
}

/******** esconder marcações ********/
.hide-marks span[data-manual],
.hide-marks span.autoRima,
.hide-marks span.autoF{
  background:none!important;
}

