
corpo{
  margem:0;
  altura:100vh;
  exibir: flex;
  font-family: sans- serif;
  fundo:#050505;
  cor:#8ffcff;
O}

/******** MENU ESQUERDO *******/
#sidebar{
  largura:210px;
  estofamento:16px;
  exibir: flex;
  flex-direção: coluna;
  lacuna:10px;
  fronteira-direita:2px sólido rgba(0,255,255,3);
O}
.opção{
  estofamento:10px;
  borda:1px sólido rgba(0,255,255,4);
  border-radius:6px;
  cursor: ponteiro;
  transição:.2s;
O}
.opção.ativo{
  fundo:#00ffff55;
  borda-color:#0ff;
  cor: preto;
O}

/******** centro *******/
#main{
  flex:1;
  estofamento:18px;
  exibir: flex;
  flex-direção: coluna;
O}

/*** barra de ferramentas ***/
#toolbar{
  exibir: flex;
  lacuna:10px;
  margin-bottom:10px;
  flex-wrap: envoltório;
O}

.btn{
  preenchimento:6 px 12 px;
  cursor: ponteiro;
  cor:#8ffcff;
  antecedentes:rgba (0,255,255,.08);
  borda:1px sólido rgba(0,255,255,4);
  border-radius:8px;
O}

/*** editor ***/
#editor{
  flex:1;
  estofamento:15px;
  border-radius:8px;
  fundo:branco;
  fonte- tamanho:18px;
  cor: preto;
  overflow-y:auto;
O}

/*** palata em linha ***/
#paletteInline{
  exibir:nenhum;
  estofamento:8px;
  antecedentes:rgba (0,255,255,.15);
  border-radius:6px;
  grade- template- columns: repetição(10,22px);
  lacuna:6px;
  margin-bottom:10px;
O}
.cor{
  largura:22px; altura:22px;
  border-radius:4px;
  cursor: ponteiro;
O}

/*** batida do jogador ***/
#player{
  exibir: flex;
  lacuna:10px;
  align- itens: centro;
  estofamento:8px;
  margin- top:10px;
  fundo:preto;
  border-radius:8px;
  borda:1px sólido rgba(0,255,255,3);
O}

#progress{
  flex:1;
  altura:6px;
  antecedentes:#222;
  border-radius:4px;
O}
#bar{
  largura:0%;
  altura:100%;
  fundo:#0ff;
O}

/******** painel métrica direita *******/
#rightPanel{
  largura:170px;
  estofamento:16px;
  antecedentes:#0008;
  border- left:2px sólido rgba(0,255,255,3);
  exibir: flex;
  flex-direção: coluna;
  lacuna:12px;
O}

#meterTitle{
  font- weight:negrito;
  cor:#0ff;
O}
#meterPanel{
  espaço-branco:pre;
O}

/******** esconder marcações ********/
.ocultar-marcas span[data-manual],
.ocultar-marcas span.autoRima,
.ocultar-marcas span.autoF{
  antecedentes:nenhuma!importante;
O}

